.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pagination-restyle li{
 list-style: none;
 display: inline-block;
 padding:10px;
 background-color: #3f51b5;
  color:white;
  font-weight:bolder;
  margin:3px;
}
.pagination-restyle li:hover{
  cursor: pointer;
}
.image-restyle{
  width:100px;
  height:100px;
  margin-top:7px;
  margin-bottom:7px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
